<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <script src="https://cdn.bootcdn.net/ajax/libs/echarts/4.7.0/echarts.min.js"></script>
</head>

<body>

  <script>
    let graphs = [], g = null
  </script>

  <% stats.each do |st| %>
    <div id="<%= st.class.to_s %>" style="height: 400px;"></div>
    <script type="text/javascript">
      g = echarts.init(document.getElementById('<%= st.class.to_s %>'), 'light')
      graphs.push(g)
      g.setOption({
        grid: {
          left: "10%",
          bottom: "35%"
        },
        dataZoom: [
          {type: "slider"}
        ],
        tooltip: {},
        xAxis: {
          axisLabel: {
            interval: 0,
            rotate: 45
          },
          data: <%= st.data.keys %>
        },
        yAxis: {},
        series: [{
          type: 'bar',
          data: <%= st.data.values.map(&:size) %>
        }]
      });

      window.addEventListener("resize", () => {
        hosts.resize();
      });
    </script>
  <% end %>

  <script>
    window.addEventListener("resize", () => {
      graphs.forEach(element => {
        element.resize()
      });
    });
  </script>

</body>

</html>